body{    font-family: 'Montserrat', sans-serif;    } 
a:hover{    text-decoration: none;}
.background-jogo{    background-image: url(./../assets/bg-florest1.png);    background-repeat: no-repeat;    background-size: contain;    height: 100vh;    width: auto;}
.title-zhang{color: #ffffff;font-size: 9rem;font-weight: lighter;}
.button-start {  text-transform: uppercase;  padding: 10px 25px;  background-image: linear-gradient(to right, #b478e8 , #632678);  outline: none !important;  cursor: pointer;  transition: all 0.3s ease;  position: relative;  display: inline-block;border-radius: 0px;  color:#fff!important;  z-index: 1;  border: none;  text-decoration: none;     width: 25%;}
.button-start:after {  position: absolute;border-radius: 0px;  content: "";  width: 0;  height: 100%;  top: 0;  right: 0;  z-index: -1;  background-image:linear-gradient(to right, #b478e8 , #b478e8);  transition: all 0.3s ease;  text-decoration: none;}
.button-start:hover {  color: #fff;  border-color: #fff;border-radius: 0px;  text-decoration: none;}
.button-start:hover:after {  left: 0;  width: 100%;}
.button-start:active {  top: 0px;}
.button-start:disabled {   background-image: linear-gradient(to right, #ccc , #ccc);  outline: none !important;  cursor: default;  transition: none;  position: relative;  display: inline-block; border-radius: 0px;  color:#333!important;  z-index: 1;  border: none;  text-decoration: none;}
.button-start:disabled:after  {   background-image: linear-gradient(to right, #ccc , #ccc);  transition: all 0.3s ease;  text-decoration: none; }
.cont-menu  { margin: 3em auto;}
#form {          max-width: 80%;        margin: 25px auto;        text-align: end;    }
#form input {    margin: 0 5px;    text-align: center;    line-height: 65px;    font-size: 35px;    border: solid 1px #ccc;    box-shadow: 0 0 5px #ccc inset;    outline: none;    width: 10%;    transition: all 0.2s ease-in-out;    border-radius: 3px;}
#form input:focus {    border-color: purple;    box-shadow: 0 0 5px purple inset;  }
#form input::-moz-selection {    background: transparent;  }
#form input::selection {    background: transparent;  }
#div-hint{    max-width: 80%;    margin: 25px auto;    text-align: end;    color: #ffffff;    font-size: 2em;}
.theme{    font-size: 0.6em!important;}
.letter-area{    width: 80%;    margin: 3em auto;}
.letter{    color: #ffffff;    font-size: 3em;    margin: 0px 25px; }
.letter:hover{    color: #a3a3a3!important;     text-decoration: none!important;}
.wrong{    color: darkred!important;}
.girl-hanged{    height: 90vh;    width: auto;}