.nav-bar-menu {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    color: white !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-align: left !important;
}

.nav-bar-menu h1 {
    padding-left: 8rem !important;
}

.nav-links-menu {
    display: flex !important;
    list-style: none !important;
}

.nav-links-menu li {
    padding-right: 8rem !important;
    padding-left: 1.2rem !important;
    font-size: 1.2 rem !important;
    border-left: 3px solid #522365 !important;
    width: 100px !important;
}

.nav-links-menu li a {
    color: white !important;
    width: 100% !important;
    height: 100% !important;

}

.menu-jogo-menu{
    background-color: #2b1236 !important;
    max-height: 80px !important;
    font-family: 'Montserrat', sans-serif!important;
}

.logo-menu{
    font-size: 10px !important;
    text-align: left !important;
    font-family: "Times New Roman", Times, serif !important;
    box-sizing: border-box !important;
}

.logo-menu h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#menu{
    z-index: 99;
}