@import url('https://fonts.gloogleapis.com/css2?family=Poppings:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

body { 
    font-family: "Courgette", sans-serif;
    margin: 0;
    background-color: #222;
    height: 100vh;
    width: 100vw;
}

header {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #522365;
    width: 100%;
    height: 89.5%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;    
}

.nav-bar h1 {
    padding-left: 8rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-right: 8rem;
    padding-left: 1.2rem;
    font-size: 1.2 rem;
    border-left: 3px solid #522365;
}

.top-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    padding: 0rem 4rem;
}

.section-skin {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 0px;
}

.section-cash {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 14rem;
    height: 0px;
}

.botton-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #522365;
    width: 100%;
    height: 83%;
}

.skins {
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
    background-color: rgb(34, 34, 34, .2);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-right: 2rem;
}

.cashs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: rgb(34, 34, 34, .2);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.cash {
    background-color: #713897 ;
    border-radius: 3px;
    margin: 1px 5px;    
    overflow: hidden;
    width: 150px;
    height: 200px;
}

.cash img {
    width: 150px;
    height: 150px;
}

.cash-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    
    color: white;
}

.cash-info h5 {
    margin: 0;
    align-self: center;
}

.cash-info button {
    width: 75%;
    height: 25px;
    border-radius: 6px;
    margin: 3px;
    background-color: rgb(20, 179, 20);    
    color: white;
}

.cash-info button:hover {
    cursor: pointer;
    background-color: rgb(25, 197, 25);    
    color: white;
}

.promotional-cash {
    background-color: #713897 ;
    border-radius: 3px;
    margin: 0.5rem 0.5rem;    
    overflow: hidden;
    width: 310px;
    height: 50px;
}

.promotional-cash button {
    display: flex;
    background-color: #713897;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Courgette", sans-serif;
}

.promotional-cash button:hover {
    background-color:  #9E32E6;
    cursor: pointer;
}

.skin {
    background-color: #713897 ;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 0.5rem 1rem;    
    overflow: hidden;
    width: 380px;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.canvas {
    width: 280px;
    height: 150px;
}

.skin-info {
    color: whitesmoke;
    display: block;
    justify-content: flex-start;
    margin-left: 1rem;
}

.info-valor {
    display: flex;
    align-items: center;
}

.info-vip {
    display: flex;    
    align-items: center;
}

.skin-info h5 {
    color: #EBBE20;
    justify-self: center;
}

.skin-info i {
    color: #EBBE20;
}
.skin-info button {
    width: 100%;
    height: 25px;
    border-radius: 6px;
    margin: 3px;
    background-color: rgb(20, 179, 20);    
    color: white;    
    font-family: "Courgette", sans-serif;
}

.skin-info button:hover {
    cursor: pointer;
    background-color: rgb(25, 197, 25);    
    color: white;
}
