/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #942fd8;
    border: none;
}

input, label {
    display: block;
    width:100%;
}

input:focus, label:focus {
    outline:none;
}

a { /* dá cor aos termos de uso*/
    color: #ad0b47;
}

body {
    background-color: #222222;
    background-image: url(../assets/img_arvores.svg);
    background-position-y: -40px;
    background-position-x: -379px;
    display: flex;
    align-items: center
}

/* form*/
#main-container { /* formata a caixa principal*/
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 { /* formata o titulo da cx principal*/
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.05rem; /* adaptada ao elemento root*/ 
    font-weight: 600;
}

form {/* */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {/* */
    flex: 1 1 100%;
    position: relative;
}

.half-box {/* espaçar ao dar */
    flex: 1 1 45%;
    position: relative;
}

.spacing { /* espaçamento entre os campos*/
    margin-right: 2.5%;
}

label { /* */
    font-weight: bold;
    font-size: 0.8rem; /* 80% da fonte do elemento root da pagina*/
}

input { /* cor e formatação das letras do input*/
    border-bottom: 2px solid #942fd8;
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 40px;
}

input:focus {/* cor da linha ao dar o input*/
    border-color: #ad0b47;
}

input[type="submit"]{ /* botão cadastro*/
    background-color: #7B2DAE;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    width: 180px;
    margin: auto;
}

input[type="submit"]:hover{
    background:#942fd8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* validações*/
.error-validation {
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: 0.8rem;
}

.template{
    display:none;
}
