body {
	font-family: 'Montserrat', sans-serif;
	height: 580px;
	background-position-y: -196%;
	background-position-x: 71%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.container-jogo {
	font-family: 'Montserrat', sans-serif;
	height: 580px;
	background: url(./../assets/img_arvores.svg);
	background-position-y: -196%;
	background-position-x: 71%;
	margin: 0 !important;
    padding: 0 !important;
}

a:hover {
	text-decoration: none;
}

.background-jogo {
	background-image: url(./../assets/bg-florest1.png);
	background-repeat: no-repeat;
	height: 130%;
	width: 100% !important;
    background-position-y: 56%;
	background-position-x: 71%;
}

.cont-menu {
	margin: 3em auto;
}

#form {
	max-width: 80%;
	margin: 25px auto;
	text-align: end;
}

#form input {
	margin: 0 5px;
	text-align: center;
	line-height: 55px;
	font-size: 25px;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px #ccc inset;
	outline: none;
	width: 7%;
	transition: all 0.2s ease-in-out;
	border-radius: 3px;
}

#form input:focus {
	border-color: purple;
	box-shadow: 0 0 5px purple inset;
}

#form input::-moz-selection {
	background: transparent;
}

#form input::selection {
	background: transparent;
}

#div-hint {
	max-width: 80%;
	margin: 25px auto;
	text-align: end;
	color: #ffffff;
	font-size: 2em;
}

.theme {
	font-size: 0.6em!important;
}

.letter-area {
	width: 80%;
	margin: 3em auto;
}

.letter {
	color: #ffffff;
	font-size: 2em;
	margin: 0px 25px;
}

.letter:hover {
	color: #a3a3a3!important;
	text-decoration: none!important;
}

.wrong {
	color: darkred!important;
}

.right {
	color: darkblue!important;
}

.girl-hanged {
	height: 90vh;
	width: auto;
}

#canvas {
	width: 300px;
	height: 575px;
}

.modal-container {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
}

.mymodal {
	background: white;
	border-radius: 10px;
	width: 800px;
	min-width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: inset -4px -1px 20px 2px #31114e52;
	position: relative;
}

.titulo-modal {
	color: #7B2DAE;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 40px;
	margin-left: auto;
}

.mensagem-modal {
	color: #7B2DAE;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-right: auto;
	margin-left: auto;
}

.btn-enviar {
	background: #7B2DAE;
	border: none;
	border-radius: 5px;
	color: white;
	width: 250px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
	outline-style: none;
	font-size: larger;
}

button:hover {
	background: #942fd8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.corpo-jump-scare {
	background-color: black;
}

.imagem-jump-scare {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.div-botao {
	margin-bottom: 20px;
}

.oculta {
	display: none;
}