@import url('https://fonts.gloogleapis.com/css2?family=Poppings:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

body { 
    font-family: "Courgette", sans-serif;
    margin: 0;
    background-color: #222;
    height: 100vh;
    width: 100vw;
}

.container-skin { 
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #522365;
    height: 91.55%;
    width: 100%;
}

.top-infos {
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-right: 1.8rem;
    padding-left: 4rem;
}

.section-skin {
    max-height: 100%;
    height: 0px;
}

.section-cash {
    max-height: 100%;
    padding-right: 7.5rem;
    height: 0px;
}

.botton-info {
    background-color: #522365;
    width: 100%;
    height: 90%;
}

.skins {
    width: 65%;
    height: 100%;
    background-color: rgb(34, 34, 34, .2);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-right: 2rem;
}

.cashs {
    width: 25%;
    height: 100%;
    background-color: rgb(34, 34, 34, .2);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.cash {
    background-color: #713897 ;
    border-radius: 3px;
    margin: 2px 5px;    
    overflow: hidden;
    width: 150px;
    height: 215px;
}

.cash img {
    width: 150px;
    height: 150px;
}

.cash-info {  
    color: white;
}

.cash-info h5 {
    margin: 0;
    align-self: center;
}

.cash-info button {
    width: 75%;
    height: 25px;
    border-radius: 6px;
    background-color: rgb(20, 179, 20);    
    color: white;
}

.cash-info button:hover {
    cursor: pointer;
    background-color: rgb(25, 197, 25);    
    color: white;
}

.promotional-cash {
    background-color: #713897 ;
    border-radius: 3px;
    margin: 0.5rem 0.5rem;    
    overflow: hidden;
    width: 310px;
    height: 70px;
}

.promotional-cash button {
    display: flex;
    flex-wrap: wrap;
    background-color: #713897;
    color: white;
    width: 100%;
    height: 100%;
    font-family: "Courgette", sans-serif;
}

.promotional-cash button:hover {
    background-color:  #9E32E6;
    cursor: pointer;
}

.skin {
    background-color: #713897 ;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 0.5rem 1rem;    
    overflow: hidden;
    width: 380px;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.canvas {
    width: 250px;
    height: 450px;
    padding-left: 1rem;
    padding-bottom: 5rem;
}

.skin-info {
    color: whitesmoke;
    display: block;
    justify-content: flex-start;
    margin-left: 1rem;
}

.info-valor {
    display: flex;
    align-items: center;
}

.info-vip {
    display: flex;    
    align-items: center;
}

.skin-info h5 {
    color: #EBBE20;
    justify-self: center;
}

.skin-info i {
    color: #EBBE20;
}
.skin-info button {
    width: 100%;
    height: 25px;
    border-radius: 6px;
    margin: 3px;
    background-color: rgb(20, 179, 20);    
    color: white;    
    font-family: "Courgette", sans-serif;
}

.skin-info button:hover {
    cursor: pointer;
    background-color: rgb(25, 197, 25);    
    color: white;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    display: none;
}

.img-loading{
    width: 150px;
    height: 150px;
}